h1 {
  padding: 1%;
}

body {
  background-color: beige;
}

.header-background {
  background-color: rgb(69, 49, 178);
}

.name {
  font-weight: bold;
  color: white;
}

.inline-header {
  display: inline-flex;
  justify-content:space-between;
  list-style-type: none;
  margin-top: 20px;
}

.about-header {
  display: inline-flex;
  margin-right: 5px;
}

.work-header {
  margin-right: 5px;
  margin-left: 5px;
}

.contact-header {
  margin-right: 5px;
  margin-left: 5px;
}

.resume-header {
  margin-left: 5px;
}

.remove-text-decoration {
  text-decoration: none;
}

.about-me-section {
  display: inline-flex;
  padding: 1%;
}

.about-me {
  border-right: solid 5px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
}

.description {
  margin: 1rem;
  line-height: 20px;
}

.work-section {
  display: inline-flex;
  padding: 1%;
}

.work {
  border-right: solid 5px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
}

.work-flex {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  display: inline-flex;
  padding: 1%;
}

.contact {
  border-right: solid 5px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
}

.info {
  text-align: center;
  font-size: 30px;
  margin-top: 35px;
  display: block;
}

.github {
  text-decoration: dotted;
  margin-right: 5px;
}

.linkedin {
  text-decoration: solid;
  margin-left: 5px;
  margin-right: 5px;
}

.email {
  text-decoration: dashed;
  margin-left: 5px;
}

.git-repo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.apple-left {
  position: absolute;
  padding: 1rem;
  background-color: rgb(82, 27, 153);
  color: white;
  top: 300%;
}

.apple-png {
  position: relative;
}

.prework-png {
  position: relative;
}

.amongus-png {
  position: relative;
}

.horiseon-png {
  position: relative;
}

.fbi-png {
  position: relative;
}

.javacado-png {
  position: relative;
}

.daily-png {
  position: relative;
}

.storm-png {
  position: relative;
}

.monitor-png {
  position: relative;
}

.bottom-left {
  position: absolute;
  top: 300%;
  padding: 1rem;
  background-color: rgb(82, 27, 153);
  color: white;
}

/* Pictures margin */ 
.repo-images {
  margin: 1rem;
}

